@import url('https://fonts.googleapis.com/css2?family=Nunito:ital@0;1&display=swap');

body {
  font-family: "Nunito", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

*, *::after, *::before {
  margin: 0;
  box-sizing: border-box;
}

.container {
  max-width: 1140px;
  width: 95%;
  margin: 0 auto;
  padding: 1rem 0;
}